
# The service name in UI
# ${service name} = [${group name}::]${logic name}
# The group name is optional only.
agent.service_name=replace_with_your_application_name

# The agent namespace
agent.namespace=

# The agent cluster
agent.cluster=

# Instance name is the identity of an instance, should be unique in the service. If empty, SkyWalking agent will
# generate an 32-bit uuid. BY Default, SkyWalking uses UUID@hostname as the instance name. Max length is 50(UTF-8 char)
agent.instance_name=

# Backend service addresses:
# host:port
collector.backend_service=127.0.0.1:8080

# Logging level: TRACE, DEBUG, INFO, WARN, ERROR, OFF
logging.level=DEBUG
# Logging file_name
logging.file_name=simple-agent.log

logging.pattern=%level %timestamp %thread %class : %msg %throwable
# Logging max_file_size, default: 300 * 1024 * 1024 = 314572800
logging.max_file_size=314572800
# The max history log files. When rollover happened, if log files exceed this number,
# then the oldest file will be delete. Negative or zero means off, by default.
logging.max_history_files=-1

# Exclude some plugins define in plugins dir.Plugin names is defined in [Agent plugin list](Plugin-list.md)
plugin.exclude_plugins=
